aiohttp==3.14.1
apscheduler==3.10.4
beautifulsoup4
cloudscraper
fastapi==0.136.3
httpx
openpyxl
pillow
psycopg2-binary
python-dotenv==1.2.2
python-multipart==0.0.32
python-telegram-bot==20.7
qrcode[pil]
requests
sqlalchemy==2.0.41
telegram
tornado>=6.5.1
uvicorn[standard]==0.34.0
websockets
aiohttp
apscheduler
beautifulsoup4
cloudscraper
fastapi
httpx
openpyxl
pillow
psycopg2-binary
python-dotenv
python-multipart
python-telegram-bot
qrcode[pil]
requests
sqlalchemy
tornado
uvicorn[standard]
websockets
